/miPassword/nbproject/private/
/miPassword/build/
/miPassword/dist/
/Actividad19Sockets/nbproject/private/
/Actividad19Sockets/build/
/Actividad19Sockets/dist/
/Actividad23/nbproject/private/
/Actividad23/build/